---
import Layout from '../layouts/BasePage.astro';
import AboutHeroImage from '../assets/blog-placeholder-about.jpg';
import { getEntry } from 'astro:content';
import { render } from 'astro:content';

const aboutEntry = await getEntry('about', 'index');
if (!aboutEntry) {
	throw new Error('About content entry not found');
}
const { Content } = await render(aboutEntry);
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('August 08 2021')}
	heroImage={AboutHeroImage}
>
<div class="main main--dett">
	<h1 class="page__title--big"><strong>Nico Vece</strong></h1>
</div>
<div class="main main--flattop main--about">
	<h1>
	My full name is Nicola, but only my mom (when she's mad at me) and the tax office call me that, so let's stick with Nico. This page is about some of the things I'm proud of and love most.</h1>
	<h1 class="margin-top">
		<span>If you're in a hurry, here’s the TL;DR:</span>
		<span class="hide-on-mobile">
			download my <a href="/cf-portfolio-astro/files/nico_vece-curriculum.pdf" class="link--intext">resume</a>, browse my <a href="/cf-portfolio-astro/projects" class="link--intext">projects</a>,
			<a href="/cf-portfolio-astro/contact" class="link--intext">get in touch</a>.
		</span>
		<span class="show-on-mobile">
			<a href="/cf-portfolio-astro/files/nico_vece-curriculum.pdf" class="link--intext">resume</a>
			<a href="/cf-portfolio-astro/projects" class="link--intext">projects</a>
			<a href="/cf-portfolio-astro/contact" class="link--intext">get in touch</a>
		</span>
	</h1>
	</div>
	<section id="about-me" class="main main--flat-top box--about bg--dark">
		<div class="box--about__left">	
			<img class="mugshot" src={`${import.meta.env.BASE_URL}images/nico_vece.jpg`} alt="Nico" />
		</div>
		<div class="box--about__right">
<h4>About me</h4>

<Content />

</div>
</section>
</Layout>
