---
import Layout from '../layouts/BasePage.astro';
import AboutHeroImage from '../assets/blog-placeholder-about.jpg';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('August 08 2021')}
	heroImage={AboutHeroImage}
>
<div class="main main--flattop">
	<h3>Ciao, io sono Nico.</h3>
	<p>
			I had design training but learned development on my own. The topics are becoming more interesting yet
			increasingly complicated to study independently.
	</p>
	<p>
			I remain committed to expanding my expertise to serve others better through a Full-Stack developer
			course.
	</p>
	<p>
			My career has been a proud journey of continuous growth. After gaining design knowledge at university, I
			found a mentor who guided my training as a graphic designer. During this period, I developed a passion
			for web development.
	</p>
	<p>
			After three years, my mentor invited me to partner in his firm, where I managed the web and digital
			department, gaining expertise in both design and development.
	</p>
	<p>å
			In 2012, I left the partnership to freelance as a consultant, and I'm pleased that many collaborations
			have continued since then, significantly enhancing my development skills through diverse projects.
	</p>
	<a href="files/nico_vece-curriculum.pdf" class="text_link" download=""><strong>Download my CV</strong></a>
	</div>
</Layout>
