---
import Layout from '../layouts/BasePage.astro';
import AboutHeroImage from '../assets/blog-placeholder-about.jpg';
---

<Layout
	title="Contact"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('August 08 2021')}
	heroImage={AboutHeroImage}
>
<div class="main main--dett">
	<h4 class="page__title--big">I like to hang out with people</h4>
</div>
<div class="main main--flattop">
	<h1>
		<span>We could talk about a lot of things</span>
		<a href="mailto:m@nicovece.com">m@nicovece.com</a>
		<a href="tel:+4917686712451">+49 176 86712451</a>
		<a href="tel:+393791494041">+39 379 1494041</a>
		<!-- <a href="skype:nicovece?call">skype: nicovece</a> -->
	</h1>
	<h1>
		<span>Also on social media</span>
		<a href="https://github.com/nicovece">github</a>
		<a href="https://www.linkedin.com/in/nicovece/">linkedin</a>
		<a href="https://instagram.com/nicovece">instagram</a>
		<a href="https://mastodon.social/@nicovece">mastodon</a>
	</h1>
	<h1>
		<span>To know more about me, you can</span>
		<a href="files/nico_vece-curriculum.pdf" download="">download my CV</a>
	</h1>
	</div>
</Layout>
